.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.app__name {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(to right, #0efcf8,
      #ff68ff, #59defc, #ffe70c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app__input {
  outline: none;
  width: 550px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(234, 234, 234);
  padding: 10px;
  font-size: 16px;
}

.app__body1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px;
}

.app__button {
  width: 50px;
  height: 50px;
  font-size: 16px;
  color: cyan !important;
}

.app_todo {
  display: flex;
  justify-content: space-between;
  background-color: rgb(90, 90, 90);
  width: 600px;
  margin: 6px;
  border-radius: 5px;
  padding: 9px;
  color: rgb(250, 250, 250);
}

.app__todo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_todo_p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}